*.pt
*.ckpt
*.pth
*.zip
*.tar
*.onnx
*.npy
*.npz
*.jpg
*.png
data_images/
__pycache__/
yolo/dataset/
yolo/runs/
gpu_env/
helpers/poppler/
helpers/wiof_output_allpages/
helpers/wiof_output_allpages.zip
yolo/full_dataset/

helpers/iNaturalist
helpers/iNaturalist_filtered

